.container {
    display: flex;
}

.form {
    flex: 1;
    padding: 20px;
    margin-right: 10px; 
}

.info {
    flex: 1;
    padding: 20px;
    margin-left: 10px; 
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 12px; 
}

button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
}

button:hover {
    background-color: #0056b3;
}

#result, #welcome, #overall_explanation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1px;
}

#paramform {
    width:100%
}

#welcome {
    margin: 20px;
}

#buttons {
    width: 100%;
    flex-direction: column;
    align-items: center;
}

#welcome h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

#welcome p {
    font-size: 16px;
    line-height: 1.5;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px; 
}

h1 {
    color: #333;
}

h3 {
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

select {
    padding: 5px;
    margin-bottom: 10px;
    font-size: 12px; 
    width: 100%;
}

.box {
    margin-bottom: 20px; 
}

#partial_box {
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
    height: 200%; 
    border: 1px solid #ccc;
    border-radius: 5px;
}


/* Общие стили для checkbox */
.custom-checkbox {
    position: relative;
    display: inline-block;
    cursor: pointer;
    user-select: none;
    font-family: Arial, sans-serif;
    padding-right: 30px; /* Добавлен отступ справа для текста */
}

/* Скрытие настоящего checkbox */
.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Стилизация внешнего контейнера checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Стилизация галочки внутри checkbox */
.checkmark:after {
    content: '';
    position: absolute;
    display: none;
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid #2196F3;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* Отображение галочки при выборе checkbox */
.custom-checkbox input:checked + .checkmark:after {
    display: block;
}