form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result, #welcome, #overall_explanation {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#welcome {
    margin: 20px;
}

#welcome h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

#welcome p {
    font-size: 16px;
    line-height: 1.5;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #333;
}

h3 {
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

select {
    padding: 5px;
    margin-bottom: 10px;
}

.box {
    width: 100%;
    height: 300px;
}

#partial_box {
    width: 100%;
    height: 350px;
}

img {
    width: 100%;
    height: 100%; 
    border: 1px solid #ccc;
    border-radius: 5px;
}
