<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подбор препарата от ожирения</title>
    <link type="text/css" href="{{ url_for('static', filename='styles.css')}}" rel="stylesheet" />
</head>
<body>
    <div id="welcome"> 
        <h1>Модель прогнозирования ответа на лечение ожирения</h1> 
        <p> Данное приложение позволяет спрогнозировать ответ пациента на лечение препаратом от ожирения <em>"Сибутрамин"</em>. <br> Введите показатели пациента и нажмите кнопку <b> Сделать прогноз </b> </p>
    </div> 

    <ul>
        <li><a href="/?mode=model_agroup_3month"  {% if mode_selected=="model_agroup_3month" %} class="selected" {% endif %}>Первый визит</a></li>
        <li><a href="/?mode=model_bgroup_3month"  {% if mode_selected=="model_bgroup_3month" %} class="selected" {% endif %}>Первый визит (с гормонами)</a></li>
        <li><a href="/?mode=model_agroup_6month"  {% if mode_selected=="model_agroup_6month" %} class="selected" {% endif %}>Визит через 3 месяца</a></li>
        <li><a href="/?mode=model_bgroup_6month"  {% if mode_selected=="model_bgroup_6month" %} class="selected" {% endif %}>Визит через 3 месяца (с гормонами)</a></li>
    </ul>

    <div class="container">
    <div class="form">
        <form action="/predict" method="POST">
            {% for field in fields %}
            <div id="paramform">
                <div id="{{ field.name }}" class="{{ hidden }}">
                    <label for="{{ field.name }}">{{ field.description }}</label>
                    <input type="text" name="{{ field.name }}" placeholder="Введите значение..." value="{{ field.value }}">
                </div>
            </div>
            {% endfor %}
            <button type="submit">Сделать прогноз</button>
        </form>    
    </div>


    <div class="info">
        {% if result==0 or result==1 %} 
        <div id="result">
            <h3>Результаты:</h3>
            <p><b> Препарат: </b> Сибутрамин </p>
            <b> Прогнозируемая потеря веса: </b>
            <span class="decision-color" style="background-color: {% if result == 0 %} #CD5C5C {% else %} #90EE90 {% endif %}">
                {% if result==1 %} больше {% if mode=='model_3month' %} 5 {% else %} 7 {% endif %} % {% else %} меньше {% if mode=='model_3month' %} 5 {% else %} 7 {% endif %} % {% endif %}
            </span>
            <p><b>  Уверенность:  </b>{{ confidence }}% </p>
            <div class="box">
                <img src="{{ url_for('static', filename='explain.jpg') }}" alt="Partial Dependence Plot">
            </div>
        </div>
        {% endif %} 
    

        <div id="partial dependency">
            <h3>Влияние значения параметров на решение моделей</h3>
            <p>Выберите параметры чтобы посмотреть, как они влияют на итоговые решения модели (через график чисел Шэпли)</p>

            <form action="/explain" method="post">
                <div id="buttons">
                    <label for="feature1">Выберите основной параметр:</label>

                    <select name="feature1" id="feature1">
                        {% for feature in features %}
                            <option value="{{ feature }}">{{ feature }}</option>
                        {% endfor %}
                    </select>
                    <label for="feature2">Выберите дополнительный параметр:</label>
                    <select name="feature2" id="feature2">
                        <option hidden selected>-</option>
                        {% for feature in features %}
                            <option value="{{ feature }}">{{ feature }}</option>
                        {% endfor %}
                    </select>

                    <button type="submit">Сгенерировать график</button>
                </div>
            </form>
 
            <div id="partial_box">
                {% if image_path %}
                    <img src="{{ url_for('static', filename='partial_explain.jpg') }}"  alt="Partial Dependence Plot">
                {% else %}
                    <p style="font-size: 5;"> Параметры не выбраны </p>
                {% endif %}
            </div>
        </div>

    <div id="overall_explanation">
        <h3>SHAP график обьяснения модели для Сибутрамина {% if (mode=='model_3month') or (mode=='model_3month') %} для первого визита {% else %} для визита после 3 месяцев лечения {% endif %}</h3>
        <div class="box">
            <img src="{{ url_for('static', filename='overall_explain.jpg') }}" alt="Partial Dependence Plot">
        </div>
    </div>
    </div>
    </div>
</body>
</html>