<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подбор препарата от ожирения</title>
    <link type="text/css" href="{{ url_for('static', filename='styles.css')}}" rel="stylesheet" />
</head>
<body>
    <div id="welcome"> 
        <h1>Модель прогнозирования ответа на лечение ожирения</h1> 
        <p> Данное приложение позволяет спрогнозировать ответ пациента на лечение препаратом от ожирения <em>"Сибутрамин"</em>. <br> Введите показатели пациента и нажмите кнопку <b> Сделать прогноз </b> </p>
     </div> 

    <form action="/predict" method="POST">
        {% for field in fields %}
        <div>
            <label for="{{ field.name }}">{{ field.name }}</label>
            <input type="text" name="{{ field.name }}" placeholder="{{ field.placeholder }}" value="{{ field.value }}">
        </div>
        {% endfor %}
        <button type="submit">Сделать прогноз</button>
    </form>

    {% if result==0 or result==1 %} 
    <div id="result">
        <h3>Результаты:</h3>
        <div id="drug"> <b> Препарат: </b> Сибутрамин</div>
        <div id="result"> <b> Прогнозируемая потеря веса: </b> <span class="decision-color" style="background-color: {% if result == 0 %} red {% else %} green {% endif %}">
            {% if result==1 %} больше 5% {% else %} меньше 5% {% endif %}
        </span></div>
        <div id="confidence"> <b>  Уверенность:  </b>{{ confidence*100|round(1)}}% </div>
        <br><br>
        <!-- <iframe srcdoc="{{ shap_plot }}" width="923" height="200"></iframe> !--> 
        <div class="box">
            <img src="{{ url_for('static', filename='explain.jpg') }}" width="923" height="200" alt="Partial Dependence Plot">
        </div>

    </div>
    {% endif %} 
    
    <br><br><br>

    <div id="partial dependency">
        <h3>Влияние значения параметров на решение моделей</h3>

        <p>Выберите параметры чтобы посмотреть, как они влияют на итоговые решения модели</p>
        <form action="/explain" method="post">
            <label for="feature1">Select Feature 1:</label>
            <select name="feature1" id="feature1">
                <option hidden selected>Выберите параметр</option>
                {% for feature in features %}
                    <option value="{{ feature }}">{{ feature }}</option>
                {% endfor %}
            </select>

            <label for="feature2">Select Feature 2:</label>
            <select name="feature2" id="feature2">
                <option hidden selected>Выберите параметр</option>
                {% for feature in features %}
                    <option value="{{ feature }}">{{ feature }}</option>
                {% endfor %}
            </select>

            <button type="submit">Generate Plot</button>
        </form>
        <br>
        {% if image_path %}
        <div class="box" id="partial_box">
            <img src="{{ url_for('static', filename='partial_explain.jpg') }}" width="923" height="200" alt="Partial Dependence Plot">
        </div>
        {% endif %}

    </div>
    <br><br><br>
    <div id="overall_explanation">
        <h3>SHAP график обьяснения модели для Сибутрамина</h3>
        <div class="box">
            <img src="{{ url_for('static', filename='overall_plot.jpg') }}" width="923" height="200" alt="Partial Dependence Plot">
        </div>
        <figcaption>SHAP график обьяснения модели для Сибутрамина</figcaption>
    </div>


</body>
</html>